
<h1>Resultado da busca: </h1>
<% @properties.each do |property| %>
  <ul>
    <li><%= link_to property.property_type, property %></li>
    <li><%=property.property_location%></li>
    <li><%=property.rent_purpose%></li>
  </ul>
<% end %>
