h1.text-center {
    color: #ffffff;
}
nav.navbar.navbar-default {
    background: rgba(51, 122, 183, 0.41);
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}
a {
    text-decoration: none;
    color:#333333;
}
a.navbar-brand {
    color: #fff !important;
}
input#filter {
  color:#333333;
}
.default-image{
  width: 200px;
  height: 150px;
}
body {
    background-color: rgb(51, 122, 183);
}
.container {
  background: #fff;
  border-radius:10px;
}
nav.navbar.navbar-default {
    background: #fff;
}
