h1.text-center {
    color: #337ab7;
}
nav.navbar.navbar-default {
    background: rgba(51, 122, 183, 0.41);
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
a {
    text-decoration: none;
    color:#333333
}
a.navbar-brand {
    color: #fff !important;
}
